* {
  font-family: "Poppins", sans-serif;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  /*color: #120039;*/
}

.card {
  border-style: none;
  background: rgba(255, 255, 255, 0);
}

.whatsapp-cta {
  font-size: 14px;
  color: #4fd8de;
  padding: 15px 0px;
}

.footer-text {
  font-size: 14px;
  color: #235ee8;
  padding: 0px 20px;
}

.main-banner {
  background-color: rgba(35, 94, 232, 0.05);
  background-image: url(/images/Pill-1.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 520px -160px;
}

#how-it-works {
  background-color: rgba(35, 94, 232, 0.05);
  background-image: url(/images/Pill-2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -500px -60px;
}
