* {
  font-family: "Poppins", sans-serif;
}

.sticky-top {
  background: white;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
}

.card {
  border-style: none;
  background: rgba(255, 255, 255, 0);
}

.whatsapp-cta {
  font-size: 14px;
  color: #4fd8de;
  padding: 15px 0px;
}

.footer-text {
  font-size: 14px;
  color: #235ee8;
  padding: 0px 20px;
}

/*Light  blue background with pill graphic for the above the fold section*/

#main-banner {
  background-color: rgba(35, 94, 232, 0.05);
  background-image: url(./images/Pill-1.svg);
  background-repeat: no-repeat;
  background-position: 520px -160px;
}

/* Special margin-height for anchors so the stick navbar does not obscure 
them when clicked. Thanks to: https://css-tricks.com/hash-tag-links-padding/*/

#about::before { 
  display: block; 
  content: " "; 
  margin-top: -110px; 
  height: 110px; 
  visibility: hidden; 
  pointer-events: none;
}

#how-it-works::before { 
  display: block; 
  content: " "; 
  margin-top: -140px; 
  height: 140px; 
  visibility: hidden; 
  pointer-events: none;
}

/*Light  blue background with pill graphic for the how it works section */

#how-it-works-background {
  background-color: rgba(35, 94, 232, 0.05);
  background-image: url(./images/Pill-2.svg);
  background-repeat: no-repeat;
  background-position: -500px -60px;
}
